@import "styles/palitre";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: "Montserat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  img {
    vertical-align: middle;
  }
}
