@import "../../styles/palitre";

.avatar {
    width: 28px;
    height: 28px;
    background-color: $background;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;


    &__letter {
        display: inline-block;
        font-size: 14px;
        margin: 20% 0 0;
        user-select: none;
    }
}