@import "../../styles/palitre";

.avatar {
  width: 28px;
  height: 28px;
  background-color: $backgroundHover;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;

  &__letter {
    display: inline-block;
    margin: 20% 0 0;
  }
}