$mainColor: rgb(227, 36, 41);
$mainColorHover: rgb(196, 30, 35);
$borderColor: rgba(0, 0, 0);
$hover: rgba(0, 0, 0, 0.3);
$shadowColor: rgb(238, 238, 238);
$backgroundHover: rgb(224, 224, 224);
$inputTargetBorder: rgb(0, 157, 225);
$backgroundColor: rgba(255, 255, 255);
$textColor: rgb(224, 224, 224);