$red: rgb(227, 36, 41);
$darkRed: rgb(196, 30, 35);
$grey: rgb(217, 217, 217);
$darkGrey: rgb(128, 128, 128);
$white: rgb(255, 255, 255);
$smooth: rgb(232, 232, 232);
$lightBlue: rgb(0, 157, 225);
$shadow: rgba(0, 0, 0, 0.3);
$black: rgba(0, 0, 0, 1);


$mainColor: $red;
$mainColorHover: $darkRed;
$error: $red;
$errorHover: $darkRed;

$inputTargetBorder: $lightBlue;
$borderColor: $grey;
$background: $smooth;
$hover: $darkGrey;

$pinHoverShadow: $shadow;
$textColor: $black;
$secondTextColor: $white;

//title only
$section2BackgroundColor: #fdfc91;
$section2Color: #c21952;
$section3BackgroundColor: #d9fdf5;
$section3Color: #006b6c;
